.DS_Store
debug.log
plugins/revisr/
uploads/revisr-backups/index.php
uploads/revisr-backups/.htaccess
uploads
plugins
themes/new-york-bakery/.sass-cache

#from WPSOL cache
cache
wpsol-config
advanced-cache.php