/*
============== Fonts
============== Buttons
============== Scrollbar
============== Header
============== Search
============== Banner
============== Product Development Page
============== Footer
============== All pages
============== 404 Page
============== Search Page
============== jQuery Timeline Slider
============== Media Queries

* text-color: #292929,
*/

/*
============== Fonts ==============
*/
@font-face {
	font-family: 'Roboto'; url('../fonts/Roboto-Regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Bold'; url('../fonts/Roboto-Bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir Next'; url('../fonts/Avenir-Next.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0;
}
body {
	background-color: #292929;
	font-family: "Avenir Next", sans-serif;
	font-style: normal;
	font-weight: 500;
	color: #292929;
	font-size: 16px;
}
h1 { font-weight: 900; }
h4 {
	font-weight: 900;
	line-height: 25px;
}
strong { font-weight: bold }
p {
	font-size: 16px;
	line-height: 28px;
}
a:hover {
	outline: 0;
	text-decoration: none;
}
.clear { clear: both; }
/*
============== Buttons ==============
*/
.button {
	box-sizing: border-box;
	color: #F9F9F9 !important;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	letter-spacing: 1px;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
}
.button1 {
	border: 1px solid #FFFFFF;
	padding: 10px 35px;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
	outline: rgba(255, 255, 255, .5) solid 1px;
	outline-offset: 0;
	text-shadow: none;
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.button1:hover {
	background-color: #fff;
	color: #ac162c !important;
	border: 1px solid;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
	outline-color: rgba(255, 255, 255, 0);
	outline-offset: 15px;
}
.button2 {
	border: 1px solid #AC162C;
	padding: 10px 35px;
	background-color: #AC162C;
	display: table;
	font-weight: 900;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
	outline: rgba(255, 255, 255, .5) solid 1px;
	outline-offset: 0;
	text-shadow: none;
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.button2:hover {
	background-color: #000;
	border: 1px solid;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
	outline-color: rgba(255, 255, 255, 0);
	outline-offset: 15px;
}
.contact-us input[type="submit"]:hover {
	background-color: #000;
	color: #fff;
	border: 1px solid;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
	outline-color: rgba(255, 255, 255, 0);
	outline-offset: 15px;
}
.contact-us input[type="submit"] {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	padding-left: 50px;
	padding-right: 50px;
	height: 40px;
	width: auto;
	border: 1px solid #292929;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
	outline: rgba(255, 255, 255, .5) 0;
	outline-offset: 0;
	text-shadow: none;
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
div.wpcf7-response-output { display: none !important; }
/*
============== Scrollbar ==============
*/
.page::-webkit-scrollbar {
	width: 3px;
}
/* Track */
.page::-webkit-scrollbar-track {
	-webkit-box-shadow: 0 0 50px 50px rgba(172, 22, 44, 0.67) !important;
	-moz-box-shadow: 0 0 50px 50px rgba(172, 22, 44, 0.67) !important;
	-o-box-shadow: 0 0 50px 50px rgba(172, 22, 44, 0.67) !important;
	box-shadow: 0 0 50px 50px rgba(172, 22, 44, 0.67) !important;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/* Handle */
.page::-webkit-scrollbar-thumb {
	background: rgba(172, 22, 44, 0.67);
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
	-webkit-box-shadow: 0 0 50px 50px rgba(172, 22, 44, 0.67) !important;
	-moz-box-shadow: 0 0 50px 50px rgba(172, 22, 44, 0.67) !important;
	-o-box-shadow: 0 0 50px 50px rgba(172, 22, 44, 0.67) !important;
	box-shadow: 0 0 50px 50px rgba(172, 22, 44, 0.67) !important;
}
/*
============== Header ==============
*/
div#wpadminbar { opacity: 0.4; }
div#wpadminbar:hover { opacity: 1; }
img.custom-logo {
	width: 120px;
	height: 55px;
	margin-top: 10px;
}
header #navbar-primary .menu-small-screen img.custom-logo {
	margin-top: inherit;
	margin-left: -30px;
}
header .fixed {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	opacity: 100;
}
header #navbar-primary {
	background: #fff;
	margin-bottom: 0;
	-webkit-transition: all 3s ease-in-out;
	-moz-transition: all 3s ease-in-out;
	-ms-transition: all 3s ease-in-out;
	-o-transition: all 3s ease-in-out;
	transition: all 3s ease-in-out;
}
header #navbar-primary .container-fluid {
	padding: 0;
	margin: 0;
}
header #navbar-primary .collapse.navbar-collapse { padding: 0; }
header #navbar-primary .menu-hd .navbar-nav {
	width: 100%;
	/*height: 74px;*/
	padding-top: 0;
	padding-bottom: 10px;
}
header #navbar-primary .menu-hd .menu-hd-right {
	width: auto;
	margin-right: 0;
}
header #navbar-primary .menu-hd .menu-hd-right > li { margin-right: 10px; }
header #navbar-primary .menu-small-screen .navbar-nav {
	width: 100%;
	text-align: center;
	height: 74px;
	padding-top: 10px;
	padding-bottom: 10px;
}
header #navbar-primary .menu-small-screen .navbar-toggle .icon-bar { height: 3px; }
header #navbar-primary .navbar-nav > li {
	display: inline-block;
	float: none;
}
header #navbar-primary .navbar-nav > li > a {
	padding: 0;
	text-transform: uppercase;
	color: #292929;
	font-weight: 600;
}
header #navbar-primary .navbar-nav > li > a:hover { background-color: transparent; }
/*
============== Search ==============
*/
.navbar-nav input[type="search"] {
	height: 80px;
	font-size: 18px;
	display: inline-block;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	border: none;
	outline: none;
	color: #898989;
	padding: 3px 60px 3px 3px;
	width: 0;
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	z-index: 3;
	/*transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);*/
	-webkit-transition: width .8s cubic-bezier(0.000, 1, 0.00, 1.000);
	-moz-transition: width .8s cubic-bezier(0.000, 1, 0.00, 1.000);
	-ms-transition: width .8s cubic-bezier(0.000, 1, 0.00, 1.000);
	-o-transition: width .8s cubic-bezier(0.000, 1, 0.00, 1.000);
	transition: width .8s cubic-bezier(0.000, 1, 0.00, 1.000);
	cursor: pointer;
}
.navbar-nav input[type="search"]:focus {
	width: 100%;
	padding: 0 260px;
	position: fixed;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 18px;
	color: #898989;
	top: 75px;
	background-color: rgba(41, 41, 41, 0.95);
	z-index: 1;
	cursor: text;
}
.navbar-nav input[type="submit"] {
	height: 67px;
	width: 63px;
	display: inline-block;
	color: #FF0000;
	float: right;
	background: url(../images/search.svg?ver=4.8.1) center center no-repeat;
	text-indent: -10000px;
	border: none;
	position: absolute;
	top: 10px;
	right: 0;
	z-index: 2;
	cursor: pointer;
	transition: opacity .4s ease;
	outline: 0;
}
input.search-submit:hover,
input.search-submit:active,
.navbar-nav input[type="search"]:focus + input.search-submit,
.navbar-nav input[type="search"]:active + input.search-submit {
	background: url(../images/search-red-hover.png) center center no-repeat !important;
	outline: 0;
}
.navbar-nav input[type="submit"]:hover { opacity: 0.8; }
.navbar-nav input::-webkit-input-placeholder { border-bottom: 1px solid #979797; }
.navbar-nav input::-webkit-textfield-decoration-container { border-bottom: 1px solid #979797 !important; }
/*
============== Banner ==============
*/
.banner-section {
	background: #e9eaea no-repeat scroll 50% 50%;
	background-size: cover;
	padding: 110px 55px;
}
.banner-section .top-banner-one-column {
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
	text-transform: uppercase;
	color: #fff;
}
.banner-section .top-banner-one-column strong { color: #fff !important; }
.banner-section .top-banner-two-columns { color: #fff; }
/*
============== Animation Loader ==============
*/
.no-js #loader { display: none; }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.newyorkbakery-pre-con {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loading.gif?ver=4.8.1) center no-repeat rgba(255, 255, 255, 0.97);
}
/*
============== Product Development Page ==============
*/
.product-development-card-image {
	height: 230px;
	background-size: cover;
	background-repeat: no-repeat;
}
.product-development-icon {
	float: right;
	padding: 14px;
}
i.icon:before { color: #fff; }
.product-development-icon.size-12 { font-size: 12px; }
.product-development-icon.size-14 { font-size: 14px; }
.product-development-icon.size-16 { font-size: 16px; }
.product-development-icon.size-18 { font-size: 18px; }
.product-development-icon.size-21 { font-size: 21px; }
.product-development-icon.size-24 { font-size: 24px; }
.product-development-icon.size-32 { font-size: 32px; }
.product-development-icon.size-48 { font-size: 48px; }
.product-development-icon.size-64 { font-size: 64px; }
.product-development-icon.size-96 { font-size: 96px; }
/*
============== Front Page ==============
*/
.front-page .front-page-top-content {
	padding-left: 60px;
	padding-right: 60px;
}
.front-page .front-page-card:hover .front-page-card-bg-img {
	/*background-color: rgba(172, 22, 44, 0.504048);
	background-blend-mode: multiply;*/
}
.add-hover-front-page .front-page-card-bg-img {
	background-color: rgba(172, 22, 44, 0.504048);
	background-blend-mode: multiply;
}
.front-page .front-page-card-bg-img {
	background-size: cover;
	background-position: center center;
}
/*.front-page .front-page-card:hover .plus-for-hover { display: none; }*/
/*.front-page .front-page-card:hover .o-for-hover {
	display: block !important;
	float: right;
}*/
.add-hover-front-page .plus-for-hover { display: none; }
.add-hover-front-page .o-for-hover {
	display: block !important;
	float: right;
}
.front-page .plus-for-hover {
	float: right;
	color: #fff;
	font-weight: 700;
}
.front-page .plus-for-hover, .front-page .o-for-hover {
	padding: 10px;
}
.front-page .front-page-card h4 {
	text-transform: uppercase;
	line-height: 20px;
}
.front-page .front-page-card p {
	margin-bottom: 20px;
	display: inline-block;
}
.front-page .front-page-card p a:hover { color: #AC162C; }
/*.front-page .front-page-card:hover p a { color: #AC162C; }*/
.front-page .front-page-card p a {
	color: #292929;
	cursor: auto;
}
/*
============== Footer ==============
*/
.want-to-know-more {
	background: #AC162C;
	text-align: center;
	padding: 10px 10px 40px;
}
.want-to-know-more h2 {
	color: #fff;
	font-weight: bold;
	line-height: 33px;
	font-size: 18px;
}
.want-to-know-more a { }
footer { background: #292929; }
footer .widget-title {
	font-size: 14px;
	color: #636262;
	font-weight: 700;
}
footer .textwidget p {
	font-size: 14px;
	line-height: 20px;
	color: #f1f1f1;
}
footer .site-container {
	padding-left: 140px;
	padding-right: 140px;
}
footer .footer-container-widget {
	margin-right: 50px;
}
/*
============== All pages ==============
*/
.main-content {
	background-color: #fff;
	padding-top: 10px;
	padding-left: 0;
	padding-right: 0;
	line-height: 28px;
	word-wrap: break-word;
}
.white-bg, .gray-bg {
	padding: 22px 185px 25px;
	display: flow-root;
	/*display: flex;*/
}
.gray-bg { background-color: #F9F9F9; }
.entry-title {
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
}
.custom-row-margin-bottom { margin: 30px 43px 50px; }
input[type=submit] { font-size: 16px; }
footer.comment-meta, footer.entry-footer { background: transparent; }
/*
============== 404 Page ==============
*/
.error404 .error-404 form { display: block; /*inline-block;*/ }
.error404 .error-404 label { display: block; }
.error404 .error-404 input[type=search] {
	-webkit-appearance: none;
	width: 100%;
}
.error404 .error-404 input[type=submit] {
	width: 100%;
	font-size: 16px;
}
/*
============== Search Page ==============
*/
.search-no-results .not-found form { display: block; /*inline-block;*/ }
.search-no-results .not-found label { display: block; }
.search-no-results .not-found input[type=search] {
	-webkit-appearance: none;
	width: 100%;
}
.search-no-results .not-found input[type=submit] {
	width: 100%;
	font-size: 16px;
}
/*
============== jQuery Timeline Slider ==============
*/
.timeline-header {
	width: 800px;
	margin: 0 auto;
}
#timeline {
	width: 800px;
	height: 100%; /*height: 350px;*/
	overflow: hidden;
	/*margin: 100px auto;*/
	/*position: relative;*/
	background: url('../images/dot.png') left 45px repeat-x;
	position: inherit;
	margin: 0 auto 55px;
	/*background-color: #000 !important;*/
}
.timeline-wrap { position: static; }
#dates {
	width: 800px;
	height: 60px;
	overflow: hidden;
	/*margin-left: 0 !important;*/
}
#dates li {
	list-style: none;
	float: left;
	width: 80px;
	height: 50px;
	font-size: 24px;
	text-align: center;
	background: url('../images/biggerdot.png') center bottom no-repeat;
}
#dates a {
	line-height: 38px;
	padding-bottom: 10px;
}
#dates .selected { font-size: 38px; }
#dates .selected {
	background: #b0122e;
	opacity: 0.8;
	font-size: 4px;
	top: 25px;
	left: 80px;
	position: relative;
	border-radius: 50px;
	padding-bottom: 5px;
}
#issues {
	width: 800px;
	height: 100%; /*height: 350px;*/
	overflow-x: hidden;
	background-color: #292929;
}
#issues li {
	width: 800px;
	height: auto; /*height: 350px;*/
	list-style: none;
	float: left;
}
#issues li.selected img {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
#issues li img {
	float: left;
	margin: 10px 30px 10px 50px;
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF); /* IE 6 & 7 */
	zoom: 1;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	-ms-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
	-webkit-transform: scale(0.7, 0.7);
	-moz-transform: scale(0.7, 0.7);
	-o-transform: scale(0.7, 0.7);
	-ms-transform: scale(0.7, 0.7);
	transform: scale(0.7, 0.7);
}
#issues li h1 {
	color: #fff;
	font-size: 36px;
	margin: 10px 0 25px;
	font-family: "Avenir Next", sans-serif;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}
#issues li p {
	font-size: 16px;
	margin-right: 70px;
	margin-left: 10px;
	margin-bottom: 55px;
	font-weight: normal;
	line-height: 28px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	color: #fff;
	height: 100%;
}
#grad_left, #grad_right {
	width: 100px;
	height: 350px;
	position: absolute;
	top: 0;
}
#grad_left {
	left: 0;
	background: url('../images/grad_left.png') repeat-y;
}
#grad_right {
	right: 0;
	background: url('../images/grad_right.png') repeat-y;
}
#next, #prev {
	position: absolute;
	font-size: 70px;
	/*top: 170px;*/ /*top: 0;*/
	width: 22px;
	height: 38px;
	background: no-repeat 0 0;
	text-indent: -9999px;
	overflow: hidden;
}
#next:hover, #prev:hover { background-position: 0 -76px; }
#next {
	right: 0;
	background-image: url('../images/next.png');
}
#prev {
	left: 0;
	background-image: url('../images/prev.png');
}
#next.disabled, #prev.disabled { opacity: 0.2; }
/*
============== Forms ==============
*/
form { display: inline-block; }
.contact-us label {
	font-family: "Avenir Next", sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;
	color: #292929;
}
.contact-us input, .contact-us textarea {
	width: 100%;
	background-color: transparent;
	border: 1px solid #979797;
	border-radius: 0;
	margin-bottom: 10px;
	padding-left: 10px;
}
.contact-us input:focus, .contact-us textarea:focus {
	border: 1px solid #009688;
	outline: 0;
}
.contact-us input::-webkit-input-placeholder, .contact-us textarea::-webkit-input-placeholder {
	color: #9B9B9B;
	font-family: "Avenir Next", sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;
}
/*
============== Media Queries ==============
*/
@media only screen and (min-width: 2560px) {
	ul.nav.navbar-nav.navbar-right.menu-hd-right.menus li.search-menu-hd { right: 500px; }
}
@media only screen and (min-width: 1680px) {
	/*Search icon*/
	ul.nav.navbar-nav.navbar-right.menu-hd-right.menus li.search-menu-hd {
		right: 40px;
		bottom: 10px;
	}
	/*Menu Toggle*/
	.side-collapse.in { display: none; }
	/*Menu*/
	header #navbar-primary .menu-small-screen { display: none !important; }
	a.custom-logo-link { margin-left: 40px; }
	header #navbar-primary .menu-hd { display: block !important; }
	header #navbar-primary .menu-hd .menu-hd-right li { margin-right: 15px; }
	header #navbar-primary .menu-hd .menu-hd-right li:last-child { margin-right: 35px; }
}
@media only screen and (max-width: 1679px) {
	/*Menu Toggle*/
	.navbar-inverse.side-collapse {
		background-color: #292929;
		overflow-y: visible;
	}
	header #navbar-primary .navbar-nav > li > a {
		-ms-word-break: break-all;
		word-break: break-all;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: normal;
		line-height: 50px;
		font-size: 18px;
		color: #FFFFFF;
		text-transform: uppercase;
	}
	.navbar-toggle .icon-bar { background: #292929; }
	.navbar-toggle {
		display: inline-block;
		float: left;
		top: 5px;
		left: 10px;
	}
	.new-york-bakery-container-fluid.out { left: 340px; }
	.new-york-bakery-container-fluid {
		width: 100% !important;
		position: relative !important;
		left: 0;
		transition: left .4s !important;
	}
	.side-collapse {
		top: 76px;
		bottom: 0;
		left: 0;
		width: 342px;
		position: fixed;
		overflow: hidden;
		transition: width .4s;
	}
	.side-collapse.in { width: 0 !important; }
	/*Menu*/
	header #navbar-primary .menu-hd { display: none !important; }
	header #navbar-primary .menu-small-screen { display: block !important; }
	header #navbar-primary .menu-small-screen .navbar-toggle {
		padding-right: 0;
		margin-right: 0;
	}
	header #navbar-primary .menu-small-screen .navbar-toggle:focus,
	header #navbar-primary .menu-small-screen .navbar-toggle:hover { border: none; }
	.side-collapse ul li:first-child { padding-top: 35px; }
	.side-collapse ul li {
		width: 100%;
		padding-top: 2px;
	}
	/*All Pages*/
	.new-york-bakery-container-fluid { background-color: #292929; }
}
@media only screen and (max-width: 1136px) {
	.banner-section .top-banner-two-columns { padding: 22px 100px 25px; }
}
@media only screen and (min-width: 1024px) {
	/*jQuery Timeline slider*/
	#next, #prev { margin-top: -160px; }
}
@media only screen and (max-width: 1024px) {
	.row.top-banner-two-columns { padding-left: 115px; }
}
@media only screen and (max-width: 960px) {
	/*All Pages*/
	.white-bg, .gray-bg { padding: 22px 60px 25px; }
	/*Banner*/
	.banner-section .top-banner-two-columns { padding: 22px 100px 25px 0; }
	/*Buttons*/
	.contact-us input[type="submit"] {
		display: block;
		margin: 0 auto;
	}
}
@media only screen and (min-width: 768px) {
	.collapse.navbar-collapse.menu-list-mobile { display: none !important; }
	/*Contact Form 7*/
	.contact-form-container .wpcf7 {
		width: 680px !important;
		margin: 0 auto !important;
	}
	.contact-form-container { padding: 22px 0 !important; }
	/*Product Development Page*/
	.product-development-cards { display: block; }
	.product-development-cards.mobile { display: none; }
}
@media only screen and (max-width: 768px) {
	/*All Pages*/
	.white-bg, .gray-bg { padding: 22px 40px 25px; }
	/*About Page*/
	.page-template-template-about .gray-bg.timeline-history { padding: 22px 40px 25px !important; }
	.page-template-template-about #issues li { width: 700px; }
	/*Banner*/
	.banner-section .top-banner-two-columns { padding: 0; }
	/*jQuery Timeline Slider*/
	.timeline-header { width: auto; }
	#timeline { width: auto; }
	/*Menu Toggle*/
	.navbar-toggle {
		top: 8px !important;
		left: 20px !important;
	}
	/*Front Page*/
	.front-page .white-bg { padding: 22px 10px 25px; }
	/*Footer*/
	.site-footer .site-container {
		padding-left: 40px;
		padding-right: 40px;
	}
	footer .footer-container-widget .widget { margin-bottom: 0; }
	footer .footer-container-widget:last-child .widget { margin-bottom: 35px; }
	/*Product Development Page*/
	.product-development-cards { display: none; }
	.product-development-cards.mobile {
		display: block;
		margin: 0;
	}
	.product-development-cards.mobile .product-development-single-card { padding: 20px 0; }
	.product-development-cards.mobile .product-development-single-card:nth-child(2) { background: #f9f9f9; }
	.product-development-cards.mobile .product-development-single-card .content {
		padding: 30px 25px 10px;
		display: block;
	}
	.product-development-cards.mobile i.icon:before { color: #000; }
	.product-development-cards.mobile .product-development-icon {
		display: block;
		float: none;
		text-align: center;
	}
	.product-development-cards.mobile .first-column-card-title { text-align: center; }
	.product-development-cards.mobile .product-development-toggle-show-content,
	.product-development-cards.mobile .product-development-toggle-hide-content {
		display: block;
		text-align: center;
		width: 20px;
		margin: 0 auto;
	}
	.product-development-cards.mobile .product-development-toggle-show-content:hover,
	.product-development-cards.mobile .product-development-toggle-hide-content:hover { cursor: pointer; }
}
@media only screen and (max-width: 767px) {
	.side-collapse {
		top: 92px !important;
		padding-left: 0;
	}
	/*menu/burger icon on top menu*/
	header #navbar-primary .menu-small-screen {
		padding-left: 15px !important;
		margin-right: 0;
	}
	.side-collapse ul { margin-left: 5px; }
	/*search icon on top menu*/
	.navbar-nav input[type="submit"] { top: 22px; }
	.navbar-nav input[type="search"]:focus {
		top: 90px;
		padding: 0 100px;
	}
}
@media only screen and (max-width: 735px) {
	/*Timeline Slider*/
	.page-template-template-about #issues li {
		width: 650px;
	}
}
@media only screen and (max-width: 640px) {
	/*Menu Toggle*/
	.side-collapse ul li a { margin-left: 10px; }
	/*Menu*/
	.container-fluid > .navbar-collapse {
		margin-left: 0;
		margin-right: 0;
	}
	header #navbar-primary .menu-small-screen img.custom-logo {
		margin-left: 0;
	}
	/*Banner*/
	.banner-section { padding: 110px 0 110px 25px; }
	/*top search*/
	.navbar-nav input[type="search"]:focus {
		padding: 0 100px;
		top: 90px;
	}
	.navbar-nav input[type="submit"] { top: 20px; }
	/*About Us*/
	.page-template-template-about #issues li { width: 550px; }
}
@media only screen and (max-width: 480px) {
	.new-york-bakery-container-fluid.out { left: 0 !important; }
	/*Menu Toggle*/
	.side-collapse {
		z-index: 1;
		width: 100% !important;
		padding-left: 0 !important;
	}
	.side-collapse ul { margin-left: 10px; }
	/*Search*/
	.navbar-nav input[type="search"]:focus { padding: 0 20px !important; }
	.navbar-nav input[type="search"]:focus { top: 90px; }
	/*About Us*/
	.page-template-template-about #issues li { width: 400px; }
}
@media only screen and (max-width: 424px) {
	/*About Us*/
	.page-template-template-about #issues li { width: 300px; }
}
@media only screen and (max-width: 420px) {
	/*All Pages*/
	.white-bg, .gray-bg { padding: 22px 10px 25px !important; }
}
@media only screen and (max-width: 401px) {
	/*Footer*/
	footer .site-container {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media only screen and (max-width: 320px) {
	/*Banner*/
	.banner-section { padding: 110px 0 110px 0; }
	.row.top-banner-two-columns { text-align: center; }
	.banner-section .entry-title {
		font-size: 2.3em !important;
		word-wrap: break-word !important;
	}
	/*Front Page*/
	.front-page .front-page-top-content {
		padding-left: 0;
		padding-right: 0;
	}
	/*Contact us Button*/
	.contact-us input[type="submit"] {
		margin: 0 auto;
		display: block;
	}
	/*About Us*/
	.page-template-template-about #issues li { width: 260px; }
	#issues { padding-left: 10px; }
	/*Product Development*/
	.product-development-cards { margin: 0; }
}
@media only screen and (max-width: 240px) {
	/*About Us*/
	.page-template-template-about #issues li { width: 225px; }
	#issues { padding-left: 0; }
}