/*
1. Header
2. Banner
3. Footer
*/

/* 1. Header */
div#wpadminbar { opacity: 0.1; }
div#wpadminbar:hover { opacity: 1; }
img.custom-logo {
	width: 120px;
	height: 55px;
}
header #navbar-primary {
	background: #fff;
	margin-bottom: 0;
}
header .fixed {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}
header #navbar-primary .container-fluid {
	padding: 0;
	margin: 0;
}
header #navbar-primary .collapse.navbar-collapse {
	padding: 0;
}
header #navbar-primary .navbar-nav {
	width: 100%;
	text-align: center;
	height: 74px;
	padding-top: 10px;
	padding-bottom: 10px;
}
header #navbar-primary .navbar-nav > li {
	display: inline-block;
	float: none;
}
header #navbar-primary .navbar-nav > li > a { padding: 0 30px; }
header #navbar-primary .navbar-nav > li > a:hover { background-color: transparent; }
/* 2. Banner */

/* 3. Footer */
footer { background: #292929; }