/*
============== Fonts
============== Header
============== Banner
============== Footer
============== Media

* text-color: #f1f1f1,
*/

/*
============== Fonts ==============
*/
@font-face {
	font-family: 'Roboto Bold';
	src: url('../fonts/Roboto-Bold-webfont.woff'); url('../fonts/Roboto-Bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Regular';
	src: url('../fonts/Roboto-Regular-webfont.woff'); url('../fonts/Roboto-Regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/Avenir-Next.woff'); url('../fonts/Avenir-Next.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}
h1, h1, h3, h4, h5, h6 {
	font-family: "Roboto Regular", sans-serif;
}
/*
============== Header ==============
*/
div#wpadminbar { opacity: 0.1; }
div#wpadminbar:hover { opacity: 1; }
img.custom-logo {
	width: 120px;
	height: 55px;
}
header .fixed {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	opacity: 100;
}
header #navbar-primary {
	background: #fff;
	margin-bottom: 0;
	-webkit-transition: all 3s ease-in-out;
	-moz-transition: all 3s ease-in-out;
	-ms-transition: all 3s ease-in-out;
	-o-transition: all 3s ease-in-out;
	transition: all 3s ease-in-out;
}
header #navbar-primary .container-fluid {
	padding: 0;
	margin: 0;
}
header #navbar-primary .collapse.navbar-collapse {
	padding: 0;
}
header #navbar-primary .navbar-nav {
	width: 100%;
	text-align: center;
	height: 74px;
	padding-top: 10px;
	padding-bottom: 10px;
}
header #navbar-primary .navbar-nav > li {
	display: inline-block;
	float: none;
}
header #navbar-primary .navbar-nav > li > a { padding: 0 30px; }
header #navbar-primary .navbar-nav > li > a:hover { background-color: transparent; }
/*
============== Banner ==============
*/

/*
============== Footer ==============
*/
footer { background: #292929; }
footer .widget-title {
	font-size: 14px;
	color: #545454;
}
footer .textwidget p {
	font-size: 14px;
	line-height: 20px;
	color: #f1f1f1;
}
footer .site-container {
	padding-left: 140px;
	padding-right: 140px;
}
footer .footer-container-widget {
	margin-right: 50px;
}

/*
============== Media ==============
*/
@media only screen and (max-width: 401px) {
	footer .site-container {
		padding-left: 15px;
		padding-right: 15px;
	}
}