form {
	display: inline-block;
}
.contact-us {
	input[type="submit"] {
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 14px;
		text-align: center;
		letter-spacing: 1px;
		padding-left: 50px;
		padding-right: 50px;
		height: 40px;
		width: auto;
		border: 1px solid #292929;
		text-shadow: none;
		&:hover {
			background-color: #000;
			color: #fff;
			border: 1px solid;
		}
	}
	label {
		font-family: "Avenir Next", sans-serif;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 14px;
		color: #292929;
	}
	input,
	textarea {
		width: 100%;
		background-color: transparent;
		border: 1px solid #979797;
		border-radius: 0;
		margin-bottom: 10px;
		padding-left: 10px;
	}
	input:focus,
	textarea:focus {
		border: 1px solid #009688;
		outline: 0;
	}
	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
		color: #9B9B9B;
		font-family: "Avenir Next", sans-serif;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 14px;
	}
}
div.wpcf7-response-output {
	display: none !important;
}
