/*
============== All pages ==============
*/
.main-content {
	background-color: #fff;
	padding-top: 10px;
	padding-left: 0;
	padding-right: 0;
	line-height: 28px;
	word-wrap: break-word;
}
.white-bg, .gray-bg {
	padding: 22px 185px 25px;
	display: flow-root;
	/*display: flex;*/
}
.gray-bg {
	background-color: #F9F9F9;
}
.entry-title {
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
}
.custom-row-margin-bottom {
	margin: 30px 43px 50px;
}
/*
============== Product Development Page ==============
*/
.product-development-card-image {
	height: 230px;
	background-size: cover;
	background-repeat: no-repeat;
}
.product-development-icon {
	float: right;
	padding: 14px;
	&.size-12 { font-size: 12px; }
	&.size-14 { font-size: 14px; }
	&.size-16 { font-size: 16px; }
	&.size-18 { font-size: 18px; }
	&.size-21 { font-size: 21px; }
	&.size-24 { font-size: 24px; }
	&.size-32 { font-size: 32px; }
	&.size-48 { font-size: 48px; }
	&.size-64 { font-size: 64px; }
	&.size-96 { font-size: 96px; }
}
i.icon:before {
	color: #fff;
}
