.front-page {
	.front-page-card {
		h4 {
			text-transform: uppercase;
			line-height: 20px;
			display: table;
		}
		p {
			margin-bottom: 20px;
			display: inline-block;
			a {
				color: #292929;
				cursor: auto;
				&:hover {
					color: #AC162C;
				}
			}
		}
	}
	.front-page-top-content {
		padding-left: 60px;
		padding-right: 60px;
	}
	.front-page-card-bg-img {
		background-size: cover;
		background-position: center center;
	}
	.plus-for-hover {
		float: right;
		color: #fff;
		font-weight: 700;
	}
	.plus-for-hover, .o-for-hover {
		padding: 10px;
	}
}
.front-page-card .front-page-card-bg-img {
	background-color: transparent;
	background-blend-mode: multiply;
	-webkit-transition: all 900ms ease-out;
	-moz-transition: all 900ms ease-out;
	-o-transition: all 900ms ease-out;
	-ms-transition: all 900ms ease-out;
	transition: all 900ms ease-out;
}
.add-hover-front-page .front-page-card-bg-img {
	opacity: 0.4;
	/*background-color: rgba(172, 22, 44, 0.504);*/
	background-blend-mode: multiply;
	-webkit-transition: all 900ms ease-out;
	-moz-transition: all 900ms ease-out;
	-o-transition: all 900ms ease-out;
	-ms-transition: all 900ms ease-out;
	transition: all 900ms ease-out;
}
.add-hover-front-page .plus-for-hover {
	display: none;
}
.add-hover-front-page .o-for-hover {
	display: block !important;
	float: right;
}
.front-page .front-page-card:hover .front-page-card-bg-img {
	/*background-color: rgba(172, 22, 44, 0.504048);
	background-blend-mode: multiply;*/
}
/*.front-page .front-page-card:hover .plus-for-hover { display: none; }*/
/*.front-page .front-page-card:hover .o-for-hover {
	display: block !important;
	float: right;
}*/
/*.front-page .front-page-card:hover p a { color: #AC162C; }*/
