.navbar-nav input[type="search"] {
	height: 80px;
	font-size: 18px;
	display: inline-block;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	border: none;
	outline: none;
	color: #898989;
	padding: 3px 60px 3px 3px;
	width: 0;
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	z-index: 3;
	-webkit-transition: width .8s cubic-bezier(0.000, 1, 0.00, 1.000);
	-moz-transition: width .8s cubic-bezier(0.000, 1, 0.00, 1.000);
	-ms-transition: width .8s cubic-bezier(0.000, 1, 0.00, 1.000);
	-o-transition: width .8s cubic-bezier(0.000, 1, 0.00, 1.000);
	transition: width .8s cubic-bezier(0.000, 1, 0.00, 1.000);
	cursor: pointer;
}
.navbar-nav input[type="search"]:focus {
	width: 100%;
	padding: 0 260px;
	position: fixed;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 18px;
	color: #898989;
	top: 75px;
	background-color: rgba(41, 41, 41, 0.95);
	z-index: 1;
	cursor: text;
}
.navbar-nav input[type="submit"] {
	height: 67px;
	width: 63px;
	display: inline-block;
	color: #FF0000;
	float: right;
	background: url('../../assets/images/search.svg') center center no-repeat;
	text-indent: -10000px;
	border: none;
	position: absolute;
	top: 10px;
	right: 0;
	z-index: 2;
	cursor: pointer;
	outline: 0;
}
input.search-submit:hover,
input.search-submit:active,
.navbar-nav input[type="search"]:focus + input.search-submit,
.navbar-nav input[type="search"]:active + input.search-submit {
	background: url('../../assets/images/search-red-hover.png') center center no-repeat !important;
	outline: 0;
}
.navbar-nav input::-webkit-input-placeholder {
	border-bottom: 1px solid #979797;
}
.navbar-nav input::-webkit-textfield-decoration-container {
	border-bottom: 1px solid #979797 !important;
}
/*
============== Search Page ==============
*/
.search-no-results {
	.not-found {
		form {
			display: block;
		}
		label {
			display: block;
		}
		input[type=search] {
			-webkit-appearance: none;
			width: 100%;
		}
		input[type=submit] {
			width: 100%;
			font-size: 16px;
		}
	}
}
