.banner-section {
	background: #e9eaea no-repeat scroll 50% 50%;
	background-size: cover;
	padding: 110px 55px;
	.top-banner-one-column {
		text-align: center;
		padding-top: 70px;
		padding-bottom: 70px;
		text-transform: uppercase;
		color: #fff;
		strong {
			color: #fff !important;
		}
	}
	.top-banner-two-columns {
		color: #fff;
	}
}
