@font-face {
	font-family: 'Roboto';
	font-weight: normal;
	font-style: normal;
	src: url('../../fonts/Roboto-Regular-webfont.woff') format('woff');
}
@font-face {
	font-family: 'Roboto Bold';
	font-weight: normal;
	font-style: normal;
	src: url('../../fonts/Roboto-Bold-webfont.woff') format('woff');
}
@font-face {
	font-family: 'Avenir Next';
	font-weight: normal;
	font-style: normal;
	src: url('../../fonts/AvenirNextLTPro-Regular.otf') format('woff'),
	url('../../fonts/AvenirNextLTPro-Regular.otf') format('opentype'),
	url('../../fonts/AvenirNextLTPro-Regular.otf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-weight: normal;
	font-style: normal;
	src: url('../../fonts/Montserrat-Light.woff') format('woff');
}
@font-face {
	font-family: 'Montserrat Bold';
	font-weight: normal;
	font-style: normal;
	src: url('../../fonts/Montserrat-Bold.woff') format('woff');
}
